<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">BIBLIOTECA</font></font></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Navegación de palanca">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">

          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Libros</font></font></a>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="/libro"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lista de libros</font></font></a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="/crearlibro"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Agregar Libros</font></font></a>
            </div>
          </li>

          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Autores</font></font></a>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="/autor"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lista de Autores</font></font></a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="/crearautor"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Agregar Autor</font></font></a>
            </div>
          </li>

          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Escribir</font></font></a>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="/escribir"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lista de Escritos</font></font></a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="/crearescribir"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Agregar Escrito</font></font></a>
            </div>
          </li>

          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ejemplares</font></font></a>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="/ejemplar"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lista de Ejemplares</font></font></a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="/createjemplar"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Agregar Ejemplares</font></font></a>
            </div>
          </li>

          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Usuario</font></font></a>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="/usuario"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lista de Usuario</font></font></a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="/createusuario"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Agregar Usuario</font></font></a>
            </div>
          </li>

          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Prestar</font></font></a>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="/prestar"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lista de Prestamos</font></font></a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="/createprestar"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Agregar Prestamo</font></font></a>
            </div>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-sm-2" type="text" placeholder="Búsqueda">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Búsqueda</font></font></button>
        </form>
      </div>
    </div>
  </nav>